body {
    background-color: #ffffff;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*container*/
.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/*header*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*hero*/

.title-block {
    background-color: #2e2f42;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title-block .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.button-order-service {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}

/*Our Features*/
.information-block {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;

}

.features-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.features-item {
    width: 264px;
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.section-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.features-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Our Team*/
.team-block {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-info {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
    align-items: center;
}

.team-info-image {
    display: block;
    max-width: 100%;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 0 72px 0;
}

.team-card {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-right: 24px;
    border-radius: 0 0 4px 4px
}

.team-card:last-child {
    margin-right: 0;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.team-position {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.card-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.social-links {
    display: flex;
    gap: 24px;
    
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon {
    fill: #f4f4fd;
}
.social-icon:hover,
.social-icon:focus {
    background-color: #404bbf;
}

/*Our Portfolio*/
.portfolio-block {
    padding: 120px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 0 72px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 48px 24px;
    list-style: none;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    box-shadow: none
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    inset: 0;
    background-color: #4d5ae5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 32px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
    color: #F4F4FD;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.portfolio-card:hover,
.portfolio-card:focus {
box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-info {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #E7E9FC;
    border-top: none;

}

.portfolio-info-image {
    display: block;
    max-width: 100%;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

/*footer*/
.footer-logo-link {
    display: block;
    margin-bottom: 16px;
    color: #f4f4fd;
    text-transform: uppercase;
}
.footer-brand {
    display: flex;
    flex-direction: column;
}
.logo-part-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}
.logo-part-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}
.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.logo-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    width: 264px;
    color: #F4F4FD;
    margin-bottom: 16px;
}
.footer-container {
    display: flex;
    align-items: baseline;
    
}
.social-media {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
.social-media-links {
    display: flex;
        gap: 16px;
        margin-top: 16px;
}
.social-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    
}
.footer-social-icon {
    width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        fill: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-social-icon:hover,
.footer-social-icon:focus {
    background-color: #31d0aa;
}
.subscribe-footer-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.subscribe-footer {
    margin-left: auto;
}

.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;  
}

.footer-input::placeholder {
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 2;
}
   
.footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    letter-spacing: 0.04em;
    line-height: 2;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 8px 16px;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input:focus,
.footer-input:hover {
    outline: none;
    border-color: #31d0aa;

}
.button-subscribe {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #31d0aa;
}
.icons-send {
    fill: currentColor;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transform: scale(1.1);
}
/*Modal Overlay*/
.modal-overlay {
    position: fixed;
    z-index: 99999;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px;
    box-sizing: border-box;
    }
    .modal-overlay.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
.modal-window {
    position: relative;
        background-color: #fcfcfc;
        width: 408px;
        height: 584px;
        max-height: 90vh;
        border-radius: 4px;
        padding: 72px 24px 24px 24px;
        overflow-y: hidden;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    z-index: 20;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    line-height: 0;
    cursor: pointer;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus,
.modal-close:hover {
    outline: none;
    background-color: #404BBF;
    
}
.icon-clouse {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-clouse,
.modal-close:focus .icon-clouse {
    fill: #fff;
    

}
.modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}
.form-field {
    margin-top: 8px; 
}
.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8E8F99 
}
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 360px;
}
.text-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 38px;
    letter-spacing: 0.04em; 
}
.icon-field {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    top: 50%; 
    transform: translateY(-50%);
}
.input-wrapper:hover .icon-field {
    fill: #4D5AE5;
}

.input-wrapper:hover .text-field {
    border-color: #4D5AE5;
}
.text-field:focus + .icon-field {
    fill: #4D5AE5;
}
.text-field:focus,
.comment-field:focus {
    outline: none;
    border-color: #4D5AE5;
}
.comment-field {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.comment-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    letter-spacing: 0.04em;
}
.terms-label {
    display: inline-block;
    align-items: baseline;
    column-gap: 8px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 24px;
    white-space: nowrap;
}
.custom-checkbox {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: none;
}
.custom-checkbox:focus,
.custom-checkbox:hover {
    outline: none;
    border-color: #4D5AE5;
}
.icon-checkbox {
opacity: 0;
fill: #fff;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .terms-label .custom-checkbox .icon-checkbox {
opacity: 1;
}

.input-checkbox:checked+.terms-label .custom-checkbox {
    background-color: #404bbf;
}

.privacy-link {
    color: #4D5AE5;
    font-size: 12px;
    letter-spacing: 0.04em;
}
.privacy-link {

    text-decoration: underline;
}

.privacy-link:focus {
    text-decoration: underline;
}
.modal-submit {
    background-color: #4D5AE5;
    border: 1px solid #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        border-radius: 4px;
        padding: 18px 65px;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        display: inline-block;
    cursor: pointer;
    text-align: center;
           
    }
    .modal-submit:hover,
    .modal-submit:focus {
        background-color: #404BBF;
}
.button-wrap {
     display: flex;
    justify-content: center;
    
}

